.about {
  &__img {
    display: block;
    width: 100%;
  }

  &__img-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__title {
    width: 470px;
    color: #2c2d35;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
  }

  &__name {
    color: #598d66;
  }

  &__description {
    color: #86928b;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 915px) {
    &__img {
      width: 330px;
      height: 380px;
    }

    &__info-wrapper {
      padding-top: 35px;
    }

    &__title {
      max-width: 330px;
      font-size: 40px;
      line-height: 100%;
    }

    &__description {
      max-width: 330px;
    }
  }

  @media screen and (max-width: 709px) {
    &__img-wrapper {
      justify-content: space-between;
    }

    &__img {
      margin-top: 50px;
      width: 195px;
      height: 239px;
    }

    &__info-wrapper {
      padding-top: 50px;
    }

    &__title {
      max-width: 285px;
      font-size: 36px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 16px;
      max-width: 285px;
      margin-bottom: 10px;
    }

    .order-button {
      width: 178px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 550px) {
    &__title {
      max-width: 180px;
      font-size: 28px;
    }
  }

  @media screen and (max-width: 420px) {
    .container {
      margin: 0 auto;
      padding: 0 15px;
      max-width: 420px;
      width: 100%;
    }

    &__img {
      display: none;
    }
    &__title {
      max-width: 285px;
      font-size: 30px;
    }
    &__description {
      max-width: 290px;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .order-button {
      width: 154px;
      height: 50px;
    }
  }
}

.order-button {
  color: #598d66;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #598d66;
  padding: 20px 60px;
  transition: 0.5s;
}

.order-button:hover {
  background: #598d66;
  color: #f4f6f5;
  font-size: 20px;
  font-weight: 500;
}
