* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1190px;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

select {
  color: inherit;
  appearance: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  color: inherit;
}

.star {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 420px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 420px;
    width: 100%;
  }
}
