.footer {
  padding-top: 29px;
  background: #e1ede6;
  padding-bottom: 17px;

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 35px;
  }

  &__logoNav-wrapper {
    display: flex;
    width: 725px;
    justify-content: space-between;
  }

  &__logo-title {
    color: #598d66;
    font-size: 20px;
    font-weight: 700;
  }

  &__workshop-telephone {
    color: #2c2d35;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    transition: 0.5s;
  }

  &__workshop-telephone:hover {
    color: #598d66;
  }

  &__workshop {
    color: #86928b;
    font-size: 18px;
    font-weight: 500;
  }

  &__nav {
    max-width: 445px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    color: #86928b;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 6px;
    transition: 0.5s;
  }

  &__list-item:hover {
    color: #598d66;
  }

  &__lists &__list-item:first-child {
    font-size: 20px;
    color: #2c2d35;
    margin-top: 0;
  }

  &__lists &__list-item:first-child:hover {
    color: #598d66;
  }

  &__contacts-icons-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 132px;
  }

  &__contacts-icon {
    transition: 0.5s;
  }

  &__contacts-icon:hover {
    filter: invert(50%) sepia(21%) saturate(634%) hue-rotate(83deg)
      brightness(95%) contrast(92%);
  }

  &__contacts-text {
    margin-top: 10px;
    color: #86928b;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
  }

  @media screen and (min-width: 916px) {
    &__iconsName-wrapper-mobile {
      display: none;
    }
  }

  @media screen and (max-width: 915px) {
    &__logoNav-wrapper {
      max-width: 2000px;
      width: 100%;
    }

    &__logo-wrapper {
      margin-bottom: 0;
    }

    &__logoNav-wrapper {
      display: block;
    }

    &__logoText-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__workshop-telephone {
      margin-bottom: 8px;
    }

    &__nav {
      max-width: 100%;
      margin-top: 20px;
    }

    &__iconsName-wrapper {
      display: none;
    }
  }

  @media screen and (max-width: 709px) {
    &__workshop {
      font-size: 16px;
    }

    &__nav {
      margin-top: 30px;
    }

    &__list-item {
      font-size: 16px;
    }

    &__iconsName-wrapper-mobile {
      display: none;
    }

    &__iconsName-wrapper-mobile510 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: space-around;
      text-align: center;
    }
  }

  @media screen and (min-width: 708px) {
    &__iconsName-wrapper-mobile510 {
      display: none;
    }
  }

  @media screen and (max-width: 420px) {
    &__info-wrapper {
      display: none;
    }
    &__logo-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__top-information {
      width: 100%;
      padding-right: 25px;
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
    }

    &__contact {
      color: #2c2d35;
      font-size: 16px;
      font-weight: 500;
    }

    &__text {
      color: #86928b;
      margin-top: 6px;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }

    &__mid-information {
      width: 100%;
      padding-right: 33px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    &__mid-title {
      color: #2c2d35;
      font-size: 20px;
      font-weight: 500;
    }

    &__line-img {
      width: 100%;
    }

    &__bottom-information {
      margin-top: 20px;
    }

    &__bottom-icons {
      padding: 0 72px 0;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__bottom-text {
      color: #86928b;
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
    }
  }

  @media screen and (min-width: 421px) {
    &__mobile-420 {
      display: none;
    }
  }
}
