.header {
  background-color: #e1ede6;
  padding: 33px 0 32px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo-title {
    color: #598d66;
    font-size: 20px;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    align-items: center;
    max-width: 470px;
    width: 100%;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    width: 388px;
    max-width: 100%;
    justify-content: space-between;
  }

  &__list-item {
    transition: 0.5s;
    color: #2c2d35;
    font-size: 20px;
    font-weight: 500;
  }

  &__list-item:hover {
    color: #598d66;
  }

  &__icon-cart {
    width: 22px;
    height: 22px;
    transition: 0.5s;
    display: block;
  }

  &__icon-cart:hover {
    filter: invert(50%) sepia(21%) saturate(634%) hue-rotate(83deg)
      brightness(95%) contrast(92%);
  }

  @media screen and (max-width: 915px) {
    &__list-item {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 709px) {
    &__wrapper {
      display: block;
    }

    &__logo-wrapper {
      justify-content: center;
    }

    &__nav {
      max-width: 1000px;
      justify-content: space-between;
      width: 100%;
    }

    &__line510 {
      margin-bottom: 17px;
    }

    &__line510-img {
      width: 100%;
    }
  }

  @media screen and (min-width: 708px) {
    &__line510 {
      display: none;
    }
  }

  @media screen and (min-width: 421px) {
    &__mobile-420 {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding: 0;

    &__wrapper {
      display: none;
    }

    &__logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 17px 15px 16px;
      background: #ffffff;
    }

    &__star {
      max-width: 35px;
      max-height: 35px;
    }

    &__logo {
      color: #598d66;
      font-size: 20px;
      font-weight: 700;
    }

    &__mobile-menu {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 16px 15px 16px;
      background: #e1ede6;
    }

    &__mobile-icon {
      display: block;
    }
  }
}
